<template>
    <div ref="chat" class="chat">

        <section>
            <div class="chat-area">
                <div>
                    <img class="avatar-left" :src="imgLeft"/>
                </div>
                <div style="padding: 0 5rem; width: 100%; margin-top: 2rem;">
                    <div v-if="data.messages" v-for="(message, index) in data.messages" class="message"
                       :class="{ 'message-out': message.author === 'second', 'message-in': message.author !== 'second' }">
                        {{ message.body }}
                    </div>

                    <div v-for="(message, index) in messages" class="message"
                       :class="{ 'message-out': message.author === 'second', 'message-in': message.author !== 'second' }">
                        {{ message.body }}
                        <!--
                         <input v-model="message.body" v-if="message.editing" @keyup.enter="editMessage(message)" type="text" class="change-text-input" :class="{ 'input-out': message.author === 'second', 'input-in': message.author !== 'second'}">
                        -->
                        <!--
                        <span class="show-function" :class="{'show-function-out': message.author === 'second', 'show-function-in': message.author !== 'second'}" @click="showButtons(index)"><button class="btn show-more">...</button></span>
                        -->

                        <span class="function"
                              :class="{ 'function-out': message.author === 'second', 'function-in': message.author !== 'second'}">
                            <button class="btn btn-small"
                                    v-if="!frozen"
                                    :class="{'function-out': message.author === 'second', 'function-in': message.author !== 'second' }"
                                    @click="removeComment(index)">Usuń</button>
                            <!--
                            <button class="btn btn-small" :class="{'function-out': message.author === 'second', 'function-in': message.author !== 'second' }" @click="message.editing = true">edytuj</button>
                            -->
                        </span>
                    </div>
                </div>
                <div>
                    <img class="avatar-right" :src="imgRight"/>
                </div>

            </div>

        </section>

        <div class="print-help" aria-hidden="true">
        </div>

        <section class="chat-inputs" v-if="!frozen">

            <form @submit.prevent="sendMessage('in')" id="person1-form" class="person1-form">
                <input type="text" v-model="userLeft" class="first-person" v-if="editorMode"
                       @change="api.triggerStateSave()">
                <label v-else for="person1-input" class="first-person">{{data.userLeft}}</label>
                <div class="input-group">
                    <input v-model="firstMessage" id="person1-input" class="person1-input" type="text"
                           placeholder="Napisz wiadomość">
                    <div style="margin-left: -1px;">
                        <button type="submit" class="btn btn-first">Wyślij</button>
                    </div>
                </div>
            </form>

            <form @submit.prevent="sendMessage('out')" id="person2-form" class="person2-form">
                <input type="text" v-model="userRight" class="second-person" v-if="editorMode"
                       @change="api.triggerStateSave()">
                <label v-else for="person2-input" class="second-person">{{data.userRight}}</label>
                <div class="input-group">
                    <input v-model="secondMessage" id="person2-input" class="person2-input" type="text"
                           placeholder="Napisz wiadomość">
                    <div style="margin-left: -1px;">
                        <button type="submit" class="btn btn-second">Wyślij</button>
                    </div>
                </div>
            </form>

        </section>

    </div>
</template>

<script>
    export default {
        name: 'Messenger',
        props: {
            api: {},
            data: {},
            files: {},
            editorMode: {}
        },
        data() {
            return {
                userLeft: '',
                userRight: '',
                frozen: false,
                firstMessage: '',
                secondMessage: '',
                messages: []
            };
        },
        computed: {
            imgRight() {
                if (this.files.RIGHT) {
                    return this.api.dataPath(this.files.RIGHT);
                }
                return this.api.enginePath('dist/' + require('./man.png'));
            },
            imgLeft() {
                if (this.files.LEFT) {
                    return this.api.dataPath(this.files.LEFT);
                }
                return this.api.enginePath('dist/' + require('./woman.png'));
            }
        },
        updated() {
            this.scrollToBottom();
        },
        methods: {
            setState(stateData) {
                stateData = stateData || {};
                this.messages = stateData.messages || [];
                this.userLeft = stateData.userLeft;
                this.userRight = stateData.userRight;
            },

            getState() {
                return {
                    userLeft: this.userLeft,
                    userRight: this.userRight,
                    messages: this.messages
                };
            },

            setStateFrozen(isFrozen) {
                this.frozen = isFrozen;
            },

            sendMessage(direction) {
                if (!this.secondMessage && !this.firstMessage) {
                    return
                }
                if (direction === 'out') {
                    this.messages.push({body: this.secondMessage, author: 'second'})
                    this.secondMessage = ''
                } else if (direction === 'in') {
                    this.messages.push({body: this.firstMessage, author: 'first'})
                    this.firstMessage = ''
                } else {
                    alert('something went wrong')
                }
                this.$nextTick(() => {
                    this.scrollToBottom();
                });
                this.api.triggerStateSave();
            },

            scrollToBottom() {
                let messageDisplay = this.$refs.chat;
                messageDisplay.scrollTop = messageDisplay.scrollHeight;
            },

            removeComment(index) {
                this.messages.splice(index, 1);
                this.api.triggerStateSave();
            },

            // editMessage(message) {
            //     message.editing = false;
            //     console.log(message);
            // },
        }
    };
</script>
