.chat {
    overflow-y: auto;
    max-height: 400px;
}

.chat-area {
    display: flex;
    justify-content: space-between;
    /*margin: 2rem 7rem;*/
    /*min-height: 85px;*/
}

.message {
    font-size: 0.875rem;
    margin-bottom: 2rem;
    padding: 0.875rem;
    position: relative;
    width: 50%;
    font-family: var(--font-sans);
}

.message-out {
    background: #407FFF;
    border-radius: 16px 16px 0 16px;
    color: white;
    margin-left: 47%;
}

.message-in {
    background: #F1F0F0;
    border-radius: 16px 16px 16px 0;
    color: black;
}

.chat-inputs {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.print-help {
    display: none;
}

@media print {
    .chat-inputs {
        display: none;
    }

    .print-help {
        display: block;
        text-align: center;
        padding: .5rem 0 12rem;
    }

    .chat {
        max-height: none;
    }
}

.person1-input {
    border: 1px solid grey;
    border-radius: 4px 0 0 4px;
    color: grey;
    padding: 3px 16px;
    font-family: var(--font-sans);
}

.person2-input {
    border: 1px solid #407FFF;
    border-radius: 4px 0 0 4px;
    color: #407FFF;
    padding: 3px 16px;
    font-family: var(--font-sans);
}

.person2-input::placeholder {
    color: #407FFF;
}

.btn {
    align-items: center;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex: 0 0 auto;
    font-size: .875rem;
    font-weight: 500;
    height: 2rem;
    justify-content: center;
    padding: 0 16px;
    position: relative;
    outline: 0;
    text-decoration: none;
    text-indent: .0892857143em;
    text-transform: uppercase;
    transition-duration: .28s;
    transition-property: box-shadow, transform, opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    font-family: var(--font-sans);
}

.btn-first {
    border: 1px solid grey;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: grey;
}

.btn-first:hover {
    background-color: #DCDCDC;
}

.btn-second {
    border: 1px solid #407FFF;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #407FFF;
    cursor: pointer;
}

.btn-second:hover {
    background-color: rgb(222, 230, 247);
}

.btn-small {
    border-width: 0.5px;
    font-size: 0.75rem;
    height: 1.25rem;
    letter-spacing: 0;
    padding: 0 5px;
}

.second-person {
    color: #407FFF;
    position: absolute;
    right: 0;
    top: 1rem;
    font-family: var(--font-sans);
}

.first-person {
    color: grey;
    left: 0;
    position: absolute;
    top: 1rem;
    font-family: var(--font-sans);
}

img.avatar-left {
    height: 4rem;
    left: 0;
    min-height: 4rem;
    margin-top: 1rem;
    position: absolute;
    top: 2rem;
    width: 4rem;
}

img.avatar-right {
    height: 4rem;
    min-height: 4rem;
    margin-top: 1rem;
    position: absolute;
    right: 0;
    top: 2rem;
    width: 4rem;
}

.function {
    bottom: -1.5rem;
    position: absolute;
}

.function-in {
    color: grey;
    cursor: pointer;
    left: 0;
}

.function-out {
    color: #407FFF;
    cursor: pointer;
    right: 0;
}

.show-function {
    cursor: pointer;
    position: absolute;
}

.show-function-in {
    bottom: -0.5rem;
    left: -2.5rem;
}

.show-function-out {
    bottom: -0.5rem;
    right: -2.5rem;
}

.show-more {
    border: none;
    font-size: 1rem;
}

.main-edit-function {
    display: flex;
    justify-content: center;
}

.btn.edit-function {
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0.5rem auto;
}

.btn.edit-function .tooltiptext {
    bottom: 1rem;
    color: black;
    font-size: 0.75rem;
    position: absolute;
    text-align: center;
    visibility: hidden;
    z-index: 1;
}

.btn.edit-function:hover .tooltiptext {
    visibility: visible;
}

.change-text-input {
    max-width: 12rem;
    position: absolute;
    top: 1rem;
    z-index: 1;
}

.input-out {
    border: 1px solid #407FFF;
    border-radius: 4px;
    color: #407FFF;
    left: -15rem;
    min-height: 1.5rem;
    padding: 3px 16px;
}

.input-in {
    border: 1px solid grey;
    border-radius: 4px;
    color: grey;
    min-height: 1.5rem;
    padding: 3px 16px;
    right: -15rem;
}

.input-group {
    display: flex;
    position: relative;
}
