<template>
    <div>
        <div v-if="editorMode">
            <h1>Editor mode!</h1>

            <label class="form-group">
                Tytuł:
                <input class="form-control" v-model="state.title" @input="api.triggerStateSave()">
            </label>

            <label class="form-group">
                <input type="checkbox" v-model="state.green" @change="api.triggerStateSave()">
                Zielono?
            </label>

            <hr/>

            <pre v-html="state"></pre>
        </div>
        <div v-else>
            <h1 v-text="data.title" :style="cssStyle"></h1>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Main',
    props: {
        api: {},
        data: {},
        editorMode: {}
    },
    data() {
        return {
            state: {},
        };
    },
    computed: {
        cssStyle() {
            return {
                'color': this.data.green ? 'green' : 'black'
            };
        }
    },
    methods: {
        isStateValid(state) {
            return state > 10;
        },

        setState(stateData) {
            this.state = Object.assign({}, stateData);
        },

        getState() {
            return this.state;
        },

        setStateFrozen(isFrozen) {
            this.frozen = isFrozen;
        }
    }
};
</script>
