<template>
    <div>
        <pre>{{ state }}</pre>

        <p>
            <button @click="increment" :disabled="frozen">Increment</button>
            <button @click="reset" :disabled="frozen">Reset</button>
        </p>
    </div>
</template>
<script>
export default {
    name: 'Main',
    props: {
        api: {},
        data: {}
    },
    data() {
        return {
            state: null,
            frozen: false
        };
    },
    methods: {
        increment() {
            this.state = (this.state || 0) + 1;
            this.api.triggerStateSave();
        },

        reset() {
            this.state = 0;
            this.api.triggerStateSave();
        },

        isStateValid(state) {
            console.warn(state)
            return state > 10;
        },

        setState(stateData) {
            this.state = parseInt(stateData) || 0;
        },

        getState() {
            return this.state;
        },

        setStateFrozen(isFrozen) {
            this.frozen = isFrozen;
        }
    }
};
</script>
